.onboarding {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.onboarding-title {
  margin-bottom: auto;
}

.onboarding-actions {
  margin-top: -48px;
  margin-bottom: auto;
}
